/*
    ==============================================
                ****** RESET ******
    ==============================================
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stick&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f8f6f8;
}

:root {
  --color-red: #f42;
  --bg-color-red: #f42;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: darkgray;
}

a:hover {
  color: lightslategray;
}

/*
    ==============================================
                ****** GLOBAL ******
    ==============================================
*/

/* header */

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 20px;
  color: #fff;
}

.hamburger {
  display: none;
}

.list-left {
  display: flex;
}

.list-right {
  display: flex;
}

li {
  margin-right: 10px;
}

.selected {
  color: #fff;
  font-weight: bold;
}

.nav-bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  color: darkgray;
  font-weight: bold;
  align-items: center;
  background-color: #fefefe;
}

.logo {
  display: none;
  background-color: black;
  padding: 10px;
  font-family: "Amiri", serif;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
}

.list-bottom-left {
  display: flex;
  align-items: center;
}

.li-bottom {
  margin-right: 20px;
}

.nav-bottom-right {
  font-size: 1.1rem;
}

.nav-superbottom {
  background-color: gold;
  padding: 5px 20px;
  font-weight: 600;
  font-size: 0.8rem;
}

.sticky-1 {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky-2 {
  position: fixed;
  top: 60px;
  width: 100%;
}

/* footer */

footer {
  background-color: rgb(33, 33, 33);
}

.ul-footer-top {
  display: flex;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
}

.footer-li {
  margin-right: 20px;
  background-color: #333;
  padding: 10px 15px;
  border-radius: 50%;
}

.wifi {
  padding: 10px;
}

.ul-footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.footer-superbottom {
  background-color: rgb(0, 0, 0);
  color: #fff;
  text-align: center;
  padding: 30px;
}

span {
  color: red;
}

/* Latest News */

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img {
  height: 150px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 23%;
}

.comment {
  font-size: 0.7rem;
  margin-top: 10px;
}

h3 {
  margin-top: 20px;
}

h2 {
  color: red;
  font-size: 1.5rem;
  margin-left: 20px;
  padding-top: 20px;
}

/* Latest funding */

.row-latest {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.img-h {
  width: 50px;
}

.item-h {
  display: flex;
  flex-direction: column;
  flex-basis: 22%;
}

.item-heading {
  display: flex;
}

.item-h-left {
  padding: 10px;
}

.h4-red {
  background-color: red;
  color: #fff;
  display: block;
  width: 100%;
  padding: 5px;
}

.item-h-right {
  width: 100%;
}

.p-linen {
  background-color: linen;
  padding: 10px;
}

.span-normal {
  color: gray;
}

.item-text {
  background-color: snow;
  padding: 20px;
  line-height: 1.5rem;
}

.fa-chevron-right {
  color: red;
}

/* HighLights */

.highlights-container {
  display: flex;
  color: #fff;
  margin: 10px;
  height: 70vh;
  font-size: 0.9rem;
}

.a-high {
  color: #fff;
}

.logo-big {
  color: #fff;
  font-size: 8rem;
  font-family: "Stick", sans-serif;
}

.date-h {
  color: #fff;
}

.high-left-top {
  display: flex;
  justify-content: space-between;
}

.high-left {
  flex: 1.5;
  background: linear-gradient(rgba(128, 18, 18, 0.8), rgba(7, 7, 7, 0.3)),
    url("assets/h-1.JPG") center center/cover no-repeat;
  height: 100%;
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding: 20px;
}

.high-right {
  flex: 1;
  height: 100%;
}

.right-top {
  background: url("assets/h-3.JPG") center center/cover no-repeat;
  height: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: flex-end;
  text-align: left;
  padding: 20px;
}

.right-bottom {
  background: url("assets/h-2.JPG") center center/cover no-repeat;
  height: 50%;
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
  padding: 20px;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  body {
    font-size: 0.8rem;
  }

  .nav-top {
    display: none;
  }

  .nav-bottom-left,
  .nav-bottom-right {
    display: none;
  }

  .news {
    margin-top: 250px;
  }

  .sticky-2 {
    top: 30px;
  }

  .nav-superbottom {
    height: 40px;
  }

  .hamburger {
    display: block;
  }

  .highlights {
    margin-bottom: 20px;
  }

  .row {
    flex-direction: column;
  }

  .row-latest {
    flex-direction: column;
  }

  img {
    width: 50%;
    margin: auto;
    display: block;
  }

  h2,
  h3,
  p {
    text-align: center;
    margin-bottom: 20px;
  }

  .highlights-container {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .footer-li {
    margin-right: 10px;
  }
}
