/*
    ==============================================
                ****** RESET ******
    ==============================================
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stick&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f8f6f8;
}

.container {
  width: 90%;
  margin: auto;
}

:root {
  --color-red: #f42;
  --bg-color-red: #f42;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: darkgray;
}

a:hover {
  color: lightslategray;
}

/*
    ==============================================
                ****** GLOBAL ******
    ==============================================
*/

/* header */

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 20px;
  color: #fff;
}

.nav-logo {
  display: none;
}

.hamburger {
  display: none;
}

.list-left {
  display: flex;
}

.list-right {
  display: flex;
}

li {
  margin-right: 10px;
}

.selected {
  color: #fff;
  font-weight: bold;
}

.nav-bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  color: darkgray;
  font-weight: bold;
  align-items: center;
  background-color: #fefefe;
}

.logo {
  display: none;
  background-color: black;
  padding: 10px;
  font-family: "Amiri", serif;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
}

.list-bottom-left {
  display: flex;
  align-items: center;
}

.li-bottom {
  margin-right: 20px;
}

.nav-bottom-right {
  font-size: 1.1rem;
}

.nav-superbottom {
  background-color: gold;
  padding: 5px 20px;
  font-weight: 600;
  font-size: 0.8rem;
}

.sticky-1 {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky-2 {
  position: fixed;
  top: 60px;
  width: 100%;
}

/* footer */

footer {
  background-color: rgb(33, 33, 33);
}

.ul-footer-top {
  display: flex;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
}

.footer-li {
  margin-right: 20px;
  background-color: #333;
  padding: 10px 15px;
  border-radius: 50%;
}

.wifi {
  padding: 10px;
}

.ul-footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.footer-superbottom {
  background-color: rgb(0, 0, 0);
  color: #fff;
  text-align: center;
  padding: 30px;
}

span {
  color: red;
}

/* Latest News */

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 20px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-n {
  max-height: 100%;
  border-radius: 5px;
}

.img {
  height: 150px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 23%;
  padding: 10px;
  text-align: left;
  background-color: snow;
}

.comment {
  font-size: 0.7rem;
  margin-top: 10px;
}

h3 {
  margin-top: 20px;
}

h2 {
  color: red;
  font-size: 1.5rem;
  margin-left: 20px;
  padding-top: 20px;
}

/* Latest funding */

.row-latest {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.img-h {
  width: 50px;
}

.item-h {
  display: flex;
  flex-direction: column;
  flex-basis: 22%;
}

.item-heading {
  display: flex;
  width: 100%;
  text-align: center;
}

.item-h-left {
  padding: 10px;
}

.h4-red {
  background-color: red;
  color: #fff;
  display: block;
  width: 100%;
  padding: 5px;
}

.item-h-right {
  width: 100%;
}

.p-linen {
  background-color: linen;
  padding: 10px;
}

.span-normal {
  color: gray;
}

.item-text {
  background-color: snow;
  padding: 20px;
  line-height: 1.5rem;
}

.fa-chevron-right {
  color: red;
}

/* HighLights */
.highlights {
  margin-top: 40px;
}

.highlights-container {
  display: flex;
  color: #fff;
  margin: 10px;
  height: 70vh;
  font-size: 0.9rem;
  font-weight: bold;
}

.a-high {
  color: #fff;
  font-weight: bold;
}

.logo-big {
  color: #fff;
  font-size: 8rem;
  font-family: "Stick", sans-serif;
}

.a-left-top {
  flex: 2.3;
}

.logo-high {
  width: 70%;
}

.date-h {
  color: #fff;
  flex: 1;
}

.high-left-top {
  display: flex;
  justify-content: space-between;
}

.high-left {
  flex: 1.5;
  background:
    linear-gradient(
      rgba(128, 18, 18, 0.8),
      rgba(7, 7, 7, 0.5)
    ),
    url("assets/h-1.JPG") center center/cover no-repeat;
  height: 100%;
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding: 20px;
}

.high-right {
  flex: 1;
  height: 100%;
}

.right-top {
  background: url("assets/h-3.JPG") center center/cover no-repeat;
  height: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: flex-end;
  text-align: left;
  padding: 20px;
}

.right-bottom {
  background: url("assets/h-2.JPG") center center/cover no-repeat;
  height: 50%;
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
  padding: 20px;
}

/* Main section */

.row-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.item-main {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

.main-bg-img {
  background:
    linear-gradient(
      transparent,
      rgba(7, 7, 7, 1)
    ),
    url('assets/main1.JPG') center center/cover no-repeat;
  height: 40vh;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main-h2 {
  color: red;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

h5 {
  font-weight: 100;
  letter-spacing: 3px;
  margin-bottom: 5px;
}

.date {
  font-size: 0.7rem;
  font-weight: 200;
  margin-top: 10px;
}

.latest {
  display: flex;
  background-color: #fff4f2;
  margin-top: 4px;
  padding: 5px;
}

.latest-text {
  flex: 4;
  color: red;
}

.latest-img {
  flex: 1;
  background: url('assets/main4.JPG') center center/cover no-repeat;
}

.latest-li {
  margin-top: 10px;
  border-bottom: 1px dotted rgb(219, 222, 224);
  padding-bottom: 3px;
  font-size: 0.9rem;
}

.latest-li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Latest Deals */

.deals{
  margin-bottom: 50px;
}

.row-deals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-deals {
  flex-basis: 22%;
  padding: 20px;
  margin-bottom: 70px;
}

.price-1{
  text-decoration: line-through;
  margin-right: 10px;
  color: darkgray;
}

.price-2 {
  color: green;
}

.desc{
  padding: 10px 0;
}

/* MEDIA QUERIES */

@media (max-width: 360px) {
  body {
    font-size: 0.8rem;
  }

  .container {
    width: 95%;
  }

  .highlights {
    margin-top: 50px;
    margin-bottom: 180px;
  }

  .nav-top {
    display: none;
  }

  .nav-logo {
    display: block;
    width: 10%;
    float: left;
  }

  .nav-bottom-left {
    display: none;
  }

  .nav-bottom {
    justify-content: flex-end;
  }

  .news {
    margin-top: 50px;
  }

  .a-left-top {
    flex: 1.1;
  }

  .h1-h {
    font-size: 0.8rem;
  }

  .logo-high {
    width: 80%;
  }

  .sticky-2 {
    top: 30px;
  }

  .nav-superbottom {
    height: 40px;
  }

  .hamburger {
    display: block;
    margin-right: 10px;
  }

  .row {
    flex-direction: column;
    padding: 5px;
  }

  .row-latest {
    flex-direction: column;
  }

  .item {
    margin-bottom: 10px;
  }

  img {
    width: 50%;
    margin: auto;
    display: block;
  }

  h2,
  h3,
  p {
    text-align: center;
    margin-bottom: 20px;
  }

  .highlights-container {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .footer-li {
    margin-right: 10px;
    padding: 5px 10px;
  }

  .fab {
    font-size: 0.8rem;
  }

  .fas {
    font-size: 0.8rem;
  }

  .row-main {
    flex-direction: column;
  }

  .latest-img {
    flex: 2;
  }

  .row-deals{
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: flex-start;
  }

  
  .item-deals {
    padding: 5px;
    text-align: center;
  }
}

@media (max-width: 768px) {
 nav {
   flex-wrap: wrap;
   font-size: 0.8rem;
 }

 .nav-top {
   align-items: center;
   justify-content:center;
   padding: 5px;
 }

 .nav-bottom {
   font-size: 0.7rem;
   padding: 5px 2px 20px 2px;
   justify-content:center;
   flex-direction: row;
   flex-wrap: nowrap;
  }
 
  .li-bottom {
    margin-right: 5px;
    font-size: 0.7rem;
  }

  .nav-bottom-right {
    border: 1px solid black;
    padding: 3px;
  }

  .container {
   width: 90%;
 }

 .logo-high {
   width: 80%;
   
 }

 .date-h {
   font-size: 0.5rem;
 }

 .h1-h {
   font-size: 0.8rem;
 }

 .high-left {
   justify-content: space-around;
 }

 .row{
   flex-wrap: wrap;
   flex-basis: 40%;
 }

 .item{
   flex-basis: 40%;
   padding: 20px;
 }

 .row-latest{
   flex-wrap: wrap;
 }
 
 .row-main{
   flex-wrap: wrap;
   font-size: 0.8rem;
 }

 .item-main{
   flex-basis: 40%;
   text-align: center;
 }

 .item-main:nth-child(3){
   margin: auto;
   width:100%;
   flex-basis: 70%;
   font-size: 1rem;
 }
 
 .ul-footer-top{
     font-size: 1rem;
 }
 
 .latest-img{
    flex: 2;
 }

 .item-deals{
   flex-basis: 30%;
 }

 .row-deals{
   justify-content:left
 }
  
 

}
